@page "/logout"

@rendermode InteractiveServer

@using Diamond.WebUI.New.Services
@using Microsoft.AspNetCore.Components.Authorization
@inject Diamond.WebUI.New.Services.AuthService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<h3>Logging out...</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.RemoveToken();
        ((CustomAuthStateProvider)AuthStateProvider).NotifyUserLogout();
        Nav.NavigateTo("/login", forceLoad: true);
    }
}
