@page "/logout"
@rendermode InteractiveServer

@using Diamond.WebUI.New.Services
@using Microsoft.AspNetCore.Components.Authorization

@inject AuthService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<div class="d-flex flex-column align-items-center justify-content-center vh-100">
    <div class="text-center">
        <div class="spinner-border text-primary mb-3" role="status">
            <span class="visually-hidden">Logging out...</span>
        </div>
        <p class="fw-bold">Logging you out...</p>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthService.RemoveToken();
        ((CustomAuthStateProvider)AuthStateProvider).NotifyUserLogout();
        Nav.NavigateTo("/login", forceLoad: true);
    }
}
