@page "/register"
@using Diamond.Share.Models.Auth
@using Diamond.WebUI.New.Services
@using Microsoft.AspNetCore.Components.Authorization

@rendermode InteractiveServer

@inject Diamond.WebUI.New.Services.AuthService AuthService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<h3>Register</h3>
<EditForm Model="model" OnValidSubmit="Handle">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="model.Username" placeholder="Username" class="form-control mb-2" />
    <InputText @bind-Value="model.Email" placeholder="Email" class="form-control mb-2" />
    <InputText @bind-Value="model.Password" type="password" placeholder="Password" class="form-control mb-2" />
    <button class="btn btn-success">Register</button>
</EditForm>

@code {
    private RegisterRequest model = new();
    private string error;
    private async Task Handle()
    {
        try
        {
            var res = await AuthService.Register(model);
            ((CustomAuthStateProvider)AuthStateProvider).NotifyUserAuthentication(res.Token);
            Nav.NavigateTo("/");
        }
        catch (Exception ex) { error = ex.Message; }
    }
}
