<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BlazorApp1</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="colors">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Colors
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="shapes">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Shapes
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="clarity">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Clarity
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cut">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Cut
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purity">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Purity
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="polish">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Polish
            </NavLink>
        </div>
    </nav>
</div>

