@page "/register"

@rendermode InteractiveServer

@inject HttpClient Http
@inject NavigationManager Nav

<h3>Register</h3>
<EditForm Model="model" OnValidSubmit="HandleRegister">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="model.UserName" placeholder="Name" class="form-control mb-2" />
    <InputText @bind-Value="model.Email" placeholder="Email" class="form-control mb-2" />
    <InputText @bind-Value="model.Password" placeholder="Password" type="password" class="form-control mb-2" />
    <button class="btn btn-success">Register</button>
</EditForm>

@code {
    private RegisterModel model = new();
    private record RegisterModel { public string UserName { get; set; } = ""; public string Email { get; set; } = ""; public string Password { get; set; } = ""; }

    private async Task HandleRegister()
    {
        var resp = await Http.PostAsJsonAsync("http://localhost:5218/api/auth/register", model);
        if (resp.IsSuccessStatusCode) Nav.NavigateTo("/login");
    }
}
