@page "/login"

@rendermode InteractiveServer

@* @using Diamond.WebUI.Services
@inject Diamond.WebUI.Services.AuthService AuthService *@
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Nav

<h3>Login</h3>

<EditForm Model="model" OnValidSubmit="Handle">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <InputText @bind-Value="model.Email" placeholder="Email" class="form-control mb-2" />
    <InputText @bind-Value="model.Password" placeholder="Password" type="password" class="form-control mb-2" />
    <button class="btn btn-primary">Login</button>
</EditForm>

@code {
    private Diamond.Share.Models.Auth.LoginRequest model = new();
    private string error;
    private async Task Handle()
    {
        try
        {
            //var res = await AuthService.Login(model);
            // ((CustomAuthStateProvider)AuthStateProvider).NotifyUserAuthentication(res.Token);
            Nav.NavigateTo("/");
        }
        catch (Exception ex)
        {
            error = ex.Message;
        }
    }
}
